@import
url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");
* {
  font-family:'Titillium Web', sans-serif;
  margin:0;
  padding:0;
}
body{
  font-family:'Titillium Web', sans-serif;
}
h1 {
  font-family:'Titillium Web', sans-serif;
	font-size: 48px;
	font-weight: 400;
	line-height: 24px;
  margin: 20px 0 10px 0;
  padding: .107em 0;
}

nav {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding-top: 10px;
  padding-bottom: 5px;
  height: 30px;
  margin: 0;
}
.acronym {
  padding-left: 5px;
}
.top-left {
  padding-top: 5px;
  padding-left: 15px;
  float: left;
  font-size: 1em;
}
nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.5px;
}
.top-links {
  float: right;
  display: inline-block;
  margin: 0 10px;
  font-size: 1em;
  vertical-align: middle;
}
.top-links li {
  display: inline-block;
  margin: 0 10px;
}
header {
  color:white;
  background-color: rgb(32, 101, 136);
  background-image: url(images/city-scape.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  height: 445px;
}
.header1{
  padding: 20px;
}
.header1find{
  float: left;
  width:10%;
}
.header1find1{
  float: left;
  width: 70%;
  margin:0 1% 0 1%;
  border: 1px solid rgba(255,255,255,0.2);
  padding: 5px 5px 5px 15px;
  height: 38px;
  font-size:1em;
  background-color: rgb(31, 82, 111);
  letter-spacing: 0.5px;
}
.btn-search {
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
  height: 30px;
  width: 30px;
  background-color: transparent;
  right: 0;
  top: 0;
  cursor: pointer;
  float:left; }
.header1sign{
  float:left;
  margin:0 auto;
  width:13%;
  padding: 10px 0;
  text-align: right;
}
.header1sign li{
  list-style-type:none;
  text-align:center;
  display: inline;
}
.header1sign a, span{
  letter-spacing: 0.5px;
  text-decoration: none;
  color: rgba(255,255,255,0.8);
  font-size: 0.8em;
}
.bearLogo{
  float: left;
  height: 40px;
  padding: 2px 0;
  width: 3%;
}
.npmLogo{
  height: 49px;
}
.header2{
  text-align: left;
  margin: 40px 150px;
}
.header2sign{
  width: 550px;
}
.header2sign p{
  font-size: 18px;
  font-weight: 400;
  padding: 20px 0;
  margin: 10px 0;
}
.header2sign a{
  background-color: rgb(240, 146, 51);
  text-decoration: none;
  font-weight: 400;
  border-radius: 20px;
  padding: 7px 26px 8px 26px;
  font-size: 18px;
  color: white;
}
.header2sign{
  background-color: rgb(240, 146, 51);
  text-decoration: none;
  color: white;
  padding: 7px 26px;
  border: 1px;
  border-radius: 20px;
  font-size: 18px;
  display: block;
  width: 136px;
  text-align: left;
}
.container{
  width:1200px;
  margin: 0 auto;
  text-align: center;
}

.section1{
  background-color: rgb(39, 53,71);
  font:white;
  padding: 120px 10px;
  color:white;
  height: 300px;
}
.section1img{
  width: 50%;
  margin-left: 4%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  box-sizing: border-box;
}
.collaborationLogo{
  height: 333px;
  text-align: right;
}
.section1text{
  width: 40%;
  margin-left: 4%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
}
.section1text h1{
  font-weight: 300;
  padding: .107em 0;
  margin-bottom: 10px;
  font-size: 34px;
  text-align: left;
  line-height: normal;
}
.section1text ul{
  padding-left: 23px;
  padding-bottom: 20px;
  text-align: left;
  line-height: 40px;
}
.section1sign{
  background-color: rgb(203, 56, 55);
  text-decoration: none;
  color: white;
  padding: 7px 26px;
  border: 1px;
  border-radius: 20px;
  font-size: 18px;
  display: block;
  width: 136px;
  text-align: left;
}
.section1learn{
  display: block;
  text-align: left;
  padding-top: 10px;
}
.section1learn a{
  text-decoration: none;
  color: white;
}
.section2{
  background-color: rgb(49, 68, 88);
  background-image: url(images/forklift.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  height: 380px;
  color:white;
  padding: 60px 6%;
}
.section2text{
  text-align: left;
  margin: 60px 0 20px 5%;
  width: 345px;
}
.section2text h1{
  font-size: 36px;
  font-weight: 400;
  line-height: 24px;
  margin: 20px 0 10px 0;
  padding: 5px 0;
}
.section2text p{
  margin-bottom: 10px;
  padding: 10px 0;

}
.section2text a{
  text-decoration: none;
  background-color: rgb(49, 68, 88);
  border-radius: 20px;
  padding: 7px 26px 8px 26px;
  font-size: 18px;
  font-weight: 400;
  border: 1px;
  color: white;
  height: 500px;
}
.section3{
  height: 510px;
  color:#6d7986;
  text-align: center;
}
.section3text {
  padding: 40px 10px;
  margin:0 5%;
}
.section3text h2{
  color: #373d48;
  margin: 20px 0;
  padding: 3px 0;
  font-weight: 300;
  font-size: 36px;
}
.{
  height: 500px;
  margin: 25px 5%;
}
.section3blocks div{
  width: 250px;
  padding: 20px;
}
.section3blocks h3{
  color:#373d48;
  margin: 10px 0;
  font-size: 20px;
  font-weight: 600;
}
.block {
  float: left;
}
.blocks{
  width: 30%;
}
.mountain{
  margin: 0 8%;
}
